<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>EasyRoom | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/theme.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="blue-grey darken-2">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo">EasyRoom</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#">Les propositions</a></li>
                        <li><a href="#">Les propositions</a></li>
                        {% if app.user %}

                        {% else %}
                            <li><a href="{{ path('app_login') }}">Login</a></li>
                            <li><a href="{{ path('app_register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="#">Les propositions</a></li>
        </ul>

        <main class="container">
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="{{ asset('assets/js/theme.js') }}"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>
